.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  .player {
    outline: none;
    width: 800px;
  }

  .title {
    font-size: 16px;
  }
}
